.header {
  width: 100vw;
  height: 12vh;
  background-color: #0043a1;
  font-size: 2.8vh;
  direction: rtl;
}

.header ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0 4vw;
  align-items: center;
  justify-content: flex-start;
}

.header li {
  margin: 1.6vw 1vw;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a:hover,
.header a:active,
.header a.active {
  color: rgb(128, 201, 247);
  padding-bottom: 0.25vh;
  border-bottom: 4px solid rgb(128, 201, 247);
}

.logo {
  height: 12vh;
  position: absolute;
  top: 0;
  left: 1vw;
}
